/* font-family: 'Comfortaa', cursive; */
/* font-family: 'Noto Sans', sans-serif; */
/*font-family: 'Dancing Script', cursive;*/
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    background-image: url('../img/pexel2.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
header{
    width: 100%;
    height: 70px;
    background-color: white;
    display: flex;
    position: fixed;
    top: 0;
    border-bottom: 4px solid darkolivegreen;
    z-index: 33;
}
nav ul{
    display: flex;
    list-style: none;
    margin-left: 280px;
}
nav ul li{
    font-size: 18px;
    margin-left: 60px;
    font-family: 'Comfortaa', cursive;
    line-height: 70px;
    transition: all .3s ease-in;
    cursor: pointer;
}

nav ul li:hover
{
    color:darkorange;
}
.title_logo
{
    color: dimgrey;
    font-size: 30px;
    font-family: 'Dancing Script', cursive;
    margin-left: 30px;
    font-style: italic;
    line-height: 70px;

}
/*********************** first section ***********************/

.first_section
{   
    background: transparent;
    width: 100%;
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.first_section h1{
    color: white;
    font-size: 40px;
    font-family: 'Dancing Script', cursive;
}






/************ second section ****************/

.second_section
{
    width: 100%;
    height: 600px;
    background-color: white;
    font-family: 'Comfortaa', cursive;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.title_box
{
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    transition: all .4s ease-in-out;
    margin-top: -150px;
    
    
}
.title_box:hover
{
    margin-top: 150px;
}
.box1,.box2,.box3,.box4
{
    width: 300px;
    height: 350px;
    box-shadow: 2px 2px 4px dimgrey;
    margin-top: 50px;
    transition:all .3s ease-in-out;
    overflow: hidden;
}
.box1
{
    background-image: url('../img/box1.jpg');
    background-size: cover;

    
}

.box2
{
    background-image: url('../img/box2.jpg');
    background-size: cover;
}
.box3
{
    background-image: url('../img/box3.jpg');
    background-size: cover;
}
.box4
{
    background-image: url('../img/box4.jpg');
    background-size: cover;
}

 

.title_box h2
{
    color: white;
    font-size: 30px;
    text-align: center;
    margin-top: 20px;
    
}
.btn_intro
{
    background-color: darkolivegreen;
    color: white;
    font-family: 'Noto Sans', sans-serif;
}
/********************* tree section ************************/

.tree_section
{
    width: 100%;
    height: 1500px;
    display: flex;
    flex-direction: column;
    background-color: white;
}
.tree_section h2
{
    font-size: 40px;
    text-align: center;
    color: dimgrey;
    font-family: 'Comfortaa', cursive;

}

.temporada
{
    width: 100%;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    padding: 10px 10px;
    
}
.temporada img 
{
    width: 40%;
    height: 90%;
    margin-left: 30px;
    border-top-right-radius: 25%;
    border-bottom-left-radius: 25%;
    box-shadow: 4px  4px 15px dimgrey;
}
.temporada p 
{
    width: 50%;
    height: 90%;
    font-family: 'Noto Sans', sans-serif;
    color: dimgrey;
    margin-top: 40px;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}
.estaciones_right
{
    position: absolute;
    font-size: 30px;
    background-color: darkolivegreen;
    color: white;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 150px;
    margin-top: 240px;
    font-family: 'Noto Sans', sans-serif;
}
.estaciones_left
{
    position: absolute;
    font-size: 30px;
    background-color: darkolivegreen;
    color: white;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 750px;
    margin-top: 240px;
    font-family: 'Noto Sans', sans-serif;
}

/******************   four section ********************/
.four_section
{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: space-around;
    background: white;
}
.envios
{
    width: 90%;
    height: 100%;
    padding-left: 40px;
    padding-right: 40px;
}
.envios p
{
    color: darkolivegreen;
    font-family: 'Noto Sans', sans-serif;
    font-size: 18px;

}


.envios ion-icon 
{
    font-size: 50px;
    margin-left: 280px;
    color: darkolivegreen;
   
}

/******************* footer ************************/

.footer
{
    width: 100%;
    height: 190px;
    background-color: darkolivegreen;
}




