/* font-family: 'Bad Script', cursive; */
/* font-family: 'Bad Script', cursive; */
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    background-image: url('../img/pexel2.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
header{
    width: 100%;
    height: 70px;
    background-color: white;
    display: flex;
    position: fixed;
}
nav ul{
    display: flex;
    list-style: none;
    margin-left: 280px;
}
nav ul li{
    font-size: 18px;
    margin-left: 60px;
    font-family: 'Bad Script', cursive;
    line-height: 70px;
    transition: all .3s ease-in;
    cursor: pointer;
}

nav ul li:hover
{
    color:brown;
}
.title_logo
{
    color: dimgrey;
    font-size: 30px;
    font-family: 'Bad Script', cursive;
    margin-left: 20px;
    line-height: 70px;

}
/*********************** first section ***********************/

.first_section
{   
    background: transparent;
    width: 100%;
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.first_section h1{
    color: white;
    font-size: 40px;
}






/************ second section ****************/

.second_section
{
    width: 100%;
    height: 400px;
    background-color: white;
    font-family: 'Comfortaa', cursive;
}